In [1]:
import numpy as np
import pandas as pd

from tqdm.notebook import tqdm
tqdm.pandas()

In [2]:
cares = pd.read_csv("../data/CARES_dataset_clean.csv")
cares.head()

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,RaceCategory,CVARCRICategory,IHDRCRICategory,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h
0,FEMALE,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,GA,...,Chinese,no,no,no,no,no,NaN,NaN,I,no
1,FEMALE,NaN,none,NaN,NaN,0.0,0.0,0.0,0.0,GA,...,Chinese,no,no,no,no,no,NaN,<= 15.7,I,no
2,FEMALE,NaN,mild,152.538570,NaN,0.0,0.0,0.0,0.0,GA,...,Chinese,no,no,no,no,no,G1,<= 15.7,I,no
3,MALE,NaN,moderate/severe,117.231496,NaN,0.0,1.0,0.0,1.0,GA,...,Chinese,no,no,no,no,no,G1,<= 15.7,I,no
4,MALE,0.0,mild,98.651255,59.0,0.0,0.0,0.0,0.0,GA,...,Chinese,no,no,no,no,no,G1,>15.7,II,no

In [3]:
cares.shape

(90785, 26)

In [4]:
cares.columns

Index(['GENDER', 'RCRI score', 'Anemia category', 'PreopEGFRMDRD',
       'DaysbetweenDeathandoperation', 'Preoptransfusionwithin30days',
       'Intraop', 'Postopwithin30days', 'Transfusionintraandpostop',
       'AnaestypeCategory', 'PriorityCategory',
       'TransfusionIntraandpostopCategory', 'AGEcategory', 'Mortality',
       'thirtydaymortality', 'SurgRiskCategory', 'RaceCategory',
       'CVARCRICategory', 'IHDRCRICategory', 'CHFRCRICategory',
       'DMinsulinRCRICategory', 'CreatinineRCRICategory',
       'GradeofKidneyCategory', 'RDW15.7', 'ASAcategorybinned', 'ICUAdmgt24h'],
      dtype='object')

# Encode Categorical columns to Numerical

## Age Groups
Ordinal data, do simple label encoding

In [5]:
cares["AGEcategory"].value_counts().sort_index()

AGEcategory
18-29    11052
30-49    27078
50-64    28227
65-74    15837
75-84     7256
>=85      1335
Name: count, dtype: int64

In [6]:
age_group_mapping = {
    "18-29": 0,
    "30-49": 1,
    "50-64": 2,
    "65-74": 3,
    "75-84": 4,
    ">=85": 5
}

In [7]:
cares.replace({"AGEcategory": age_group_mapping}, inplace=True)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/481760389.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace({"AGEcategory": age_group_mapping}, inplace=True)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,RaceCategory,CVARCRICategory,IHDRCRICategory,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h
28457,FEMALE,2.0,moderate/severe,8.257498,NaN,0.0,0.0,0.0,0.0,GA,...,Chinese,no,no,no,no,yes,G4-G5,<= 15.7,III,no
15468,FEMALE,0.0,none,84.474602,845.0,0.0,0.0,0.0,0.0,GA,...,Chinese,no,no,no,no,no,G2,<= 15.7,II,no
20970,FEMALE,2.0,none,93.430661,NaN,1.0,1.0,0.0,1.0,GA,...,Chinese,yes,yes,no,no,no,G1,<= 15.7,III,no
31555,MALE,0.0,none,101.036798,NaN,0.0,0.0,0.0,0.0,GA,...,Chinese,no,no,no,no,no,G1,<= 15.7,II,no
54468,FEMALE,0.0,none,81.434987,NaN,0.0,0.0,0.0,0.0,GA,...,Chinese,no,no,no,no,no,G2,<= 15.7,II,no

## Gender

In [8]:
gender_mapping = {
    "FEMALE": 0,
    "MALE": 1
}

In [9]:
cares.replace({"GENDER": gender_mapping}, inplace=True)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/1454127014.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace({"GENDER": gender_mapping}, inplace=True)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,RaceCategory,CVARCRICategory,IHDRCRICategory,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h
86892,1,NaN,mild,256.363122,NaN,0.0,0.0,0.0,0.0,GA,...,Chinese,no,no,no,no,no,G1,<= 15.7,III,no
34756,0,0.0,mild,140.029003,NaN,0.0,0.0,0.0,0.0,RA,...,Chinese,no,no,no,no,no,G1,<= 15.7,III,no
70071,0,0.0,moderate/severe,146.173858,NaN,0.0,0.0,0.0,0.0,GA,...,Chinese,no,no,no,no,no,G1,<= 15.7,I,no
25551,1,1.0,none,92.614686,89.0,0.0,0.0,0.0,0.0,RA,...,Chinese,no,no,no,no,no,G1,<= 15.7,II,no
54396,0,0.0,none,86.376858,NaN,0.0,0.0,0.0,0.0,GA,...,Others,no,no,no,no,no,G2,<= 15.7,II,no

## Race

In [10]:
cares["RaceCategory"]

0        Chinese
1        Chinese
2        Chinese
3        Chinese
4        Chinese
          ...
90780     Others
90781     Others
90782     Others
90783    Chinese
90784    Chinese
Name: RaceCategory, Length: 90785, dtype: object

In [11]:
race_category_onehot = pd.get_dummies(cares["RaceCategory"], dtype=int).drop("Others", axis=1)

cares = pd.concat([cares, race_category_onehot], axis=1)

In [12]:
cares.drop("RaceCategory", axis=1, inplace=True)

## ASA Classification

In [13]:
cares["ASAcategorybinned"].value_counts().sort_index()

ASAcategorybinned
I        22047
II       49435
III      13405
IV-VI     1079
Name: count, dtype: int64

In [14]:
asa_mapping = {
    "I": 0,
    "II": 1,
    "III": 2,
    "IV-VI": 3
}

In [16]:
cares.replace({"ASAcategorybinned": asa_mapping}, inplace=True)
cares.sample(5)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
71011,0,1.0,none,NaN,NaN,0.0,0.0,0.0,0.0,RA,...,no,no,no,NaN,<= 15.7,0.0,no,1,0,0
59929,0,NaN,none,89.391707,NaN,0.0,0.0,0.0,0.0,GA,...,no,no,no,G2,<= 15.7,2.0,no,1,0,0
58312,0,0.0,none,105.791456,820.0,0.0,0.0,0.0,0.0,GA,...,no,no,no,G1,<= 15.7,0.0,no,1,0,0
11853,1,0.0,none,143.396016,NaN,0.0,0.0,0.0,0.0,GA,...,no,no,no,G1,<= 15.7,1.0,no,1,0,0
81983,0,0.0,moderate/severe,103.242202,NaN,0.0,0.0,0.0,0.0,GA,...,no,no,no,G1,<= 15.7,1.0,no,0,0,1

## Anemia

In [17]:
cares["Anemia category"].value_counts()

Anemia category
none               62878
mild               13006
moderate/severe    10863
Name: count, dtype: int64

In [18]:
anemia_mapping = {
    "none": 0,
    "mild": 1,
    "moderate/severe": 2
}

In [19]:
cares.replace({"Anemia category": anemia_mapping}, inplace=True)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/1320599344.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace({"Anemia category": anemia_mapping}, inplace=True)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
28530,0,NaN,1.0,34.556423,821.0,0.0,0.0,0.0,0.0,GA,...,no,no,no,G3,<= 15.7,1.0,no,1,0,0
78613,0,0.0,0.0,110.552706,NaN,0.0,0.0,0.0,0.0,GA,...,no,no,no,G1,<= 15.7,1.0,no,0,0,1
54951,0,0.0,0.0,96.391277,NaN,0.0,0.0,0.0,0.0,GA,...,no,no,no,G1,<= 15.7,1.0,no,1,0,0
36700,0,NaN,0.0,87.242303,NaN,0.0,0.0,0.0,0.0,GA,...,no,no,no,G2,<= 15.7,0.0,no,1,0,0
89463,0,0.0,0.0,109.981251,NaN,0.0,0.0,0.0,0.0,GA,...,no,no,no,G1,<= 15.7,1.0,no,1,0,0

## Anaesthesia Type

In [20]:
cares["AnaestypeCategory"].value_counts()

AnaestypeCategory
GA    76442
RA    14343
Name: count, dtype: int64

In [21]:
anaesthesia_mapping = {
    "GA": 0,
    "RA": 1
}

In [22]:
cares.replace({"AnaestypeCategory": anaesthesia_mapping}, inplace=True)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/3192859259.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace({"AnaestypeCategory": anaesthesia_mapping}, inplace=True)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
8553,1,1.0,0.0,126.272959,69.0,0.0,0.0,0.0,0.0,0,...,no,no,no,G1,<= 15.7,1.0,no,1,0,0
74604,1,NaN,0.0,110.570642,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,G1,<= 15.7,NaN,no,1,0,0
89455,1,1.0,0.0,81.049948,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,G2,<= 15.7,2.0,no,1,0,0
73818,0,NaN,0.0,133.274256,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,G1,<= 15.7,NaN,no,1,0,0
11336,0,NaN,2.0,67.004104,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,G2,>15.7,NaN,no,1,0,0

## RDW

In [23]:
cares["RDW15.7"].value_counts()

RDW15.7
<= 15.7    76069
>15.7       8478
Name: count, dtype: int64

In [24]:
rdw_mapping = {
    "<= 15.7": 0,
    ">15.7": 1
}

In [25]:
cares.replace({"RDW15.7": rdw_mapping}, inplace=True)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/1639970494.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace({"RDW15.7": rdw_mapping}, inplace=True)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
16903,0,0.0,0.0,95.068802,NaN,0.0,0.0,0.0,0.0,1,...,no,no,no,G1,0.0,1.0,no,1,0,0
87667,1,0.0,0.0,61.619018,NaN,0.0,0.0,0.0,0.0,1,...,no,no,no,G2,0.0,1.0,no,0,0,0
71157,1,0.0,0.0,105.039215,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,G1,0.0,0.0,no,1,0,0
42639,0,0.0,0.0,104.800922,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,G1,0.0,1.0,no,1,0,0
41067,1,0.0,0.0,95.623746,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,G1,0.0,0.0,no,0,0,1

## Grade of CKD

In [26]:
cares["GradeofKidneyCategory"].value_counts()

GradeofKidneyCategory
G1       47948
G2       23635
G3        5114
G4-G5     3258
Name: count, dtype: int64

In [27]:
kidney_mapping = {
    "G1": 0,
    "G2": 1,
    "G3": 2,
    "G4-G5": 3
}

In [28]:
cares.replace({"GradeofKidneyCategory": kidney_mapping}, inplace=True)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/4290851341.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace({"GradeofKidneyCategory": kidney_mapping}, inplace=True)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
89443,0,NaN,0.0,94.658657,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,0.0,0.0,1.0,no,1,0,0
49773,1,0.0,1.0,72.063964,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,1.0,0.0,1.0,no,1,0,0
66468,1,1.0,0.0,94.125569,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,0.0,0.0,0.0,no,1,0,0
15335,0,0.0,0.0,112.449227,NaN,0.0,0.0,0.0,0.0,0,...,no,no,no,0.0,0.0,1.0,no,1,0,0
33512,1,NaN,0.0,79.166692,619.0,0.0,0.0,0.0,0.0,0,...,no,no,no,1.0,0.0,1.0,no,1,0,0

## RCRI columns

In [29]:
cares["CVARCRICategory"].value_counts()

CVARCRICategory
no     89242
yes     1543
Name: count, dtype: int64

In [30]:
yes_no_mapping = {
    "yes": 1,
    "no": 0
}

In [31]:
cares.replace(
    {
        "CVARCRICategory": yes_no_mapping,
        "IHDRCRICategory": yes_no_mapping,
        "CHFRCRICategory": yes_no_mapping,
        "DMinsulinRCRICategory": yes_no_mapping,
        "CreatinineRCRICategory": yes_no_mapping
    },
    inplace=True
)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/3656769112.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace(

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
81895,1,0.0,0.0,71.163159,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,1.0,0.0,0.0,no,1,0,0
2705,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1,...,0,0,0,NaN,NaN,NaN,no,0,1,0
7862,1,NaN,1.0,107.464507,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,0.0,no,1,0,0
64467,0,0.0,0.0,187.358820,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,1.0,no,1,0,0
42491,0,1.0,0.0,149.037055,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,1.0,no,1,0,0

## Surgical Risk Category

In [32]:
cares["SurgRiskCategory"].value_counts()

SurgRiskCategory
Low         48049
Moderate    39014
High         3722
Name: count, dtype: int64

In [33]:
surgical_mapping = {
    "Low": 0,
    "Moderate": 1,
    "High": 2,
}

In [34]:
cares.replace({"SurgRiskCategory": surgical_mapping}, inplace=True)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/151451857.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace({"SurgRiskCategory": surgical_mapping}, inplace=True)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
15488,1,0.0,1.0,40.578735,NaN,0.0,0.0,0.0,0.0,1,...,0,0,0,2.0,0.0,1.0,no,0,0,1
67332,0,0.0,0.0,117.196134,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,1.0,no,1,0,0
66505,1,0.0,0.0,122.622463,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,1.0,no,1,0,0
23730,0,NaN,1.0,88.903308,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,1.0,0.0,1.0,no,0,0,1
14117,0,0.0,1.0,96.669234,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,1.0,2.0,no,1,0,0

## Surgical Priority

In [35]:
cares["PriorityCategory"].value_counts()

PriorityCategory
Elective     72331
Emergency    18454
Name: count, dtype: int64

In [36]:
priority_mapping = {
    "Elective": 0,
    "Emergency": 1,
}

In [37]:
cares.replace({"PriorityCategory": priority_mapping}, inplace=True)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/2561133050.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace({"PriorityCategory": priority_mapping}, inplace=True)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
51643,0,0.0,0.0,98.787127,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,0.0,no,1,0,0
65577,0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,NaN,0.0,1.0,no,1,0,0
3187,1,NaN,0.0,100.376541,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,NaN,no,0,1,0
57427,0,0.0,0.0,94.330744,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,0.0,no,1,0,0
54330,0,0.0,0.0,80.707710,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,1.0,0.0,1.0,no,1,0,0

# Encoding the Target Columns

In [38]:
cares["Mortality"].value_counts()

Mortality
No death    85190
Yes          5595
Name: count, dtype: int64

In [39]:
mortality_mapping = {
    "No death": 0,
    "Yes": 1,
}

In [40]:
cares.replace({"Mortality": mortality_mapping}, inplace=True)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/1727797087.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace({"Mortality": mortality_mapping}, inplace=True)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
21741,1,3.0,0.0,108.111933,NaN,0.0,0.0,0.0,0.0,0,...,1,0,0,0.0,0.0,2.0,no,1,0,0
16508,1,0.0,1.0,65.922465,NaN,0.0,0.0,0.0,0.0,1,...,0,0,0,1.0,0.0,1.0,no,1,0,0
82890,0,0.0,0.0,102.314765,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,0.0,no,1,0,0
51120,0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,NaN,NaN,0.0,no,1,0,0
3293,1,NaN,0.0,122.687376,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,NaN,no,0,0,0

In [41]:
cares["ICUAdmgt24h"].value_counts()

ICUAdmgt24h
no     89521
yes     1264
Name: count, dtype: int64

In [42]:
ICU_mapping = {
    "no": 0,
    "yes": 1,
}

In [43]:
cares.replace({"ICUAdmgt24h": ICU_mapping}, inplace=True)
cares.sample(5)

/var/folders/d_/43yhfw3n2wx5mg7dg0cxjld00000gn/T/ipykernel_45316/3504792589.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cares.replace({"ICUAdmgt24h": ICU_mapping}, inplace=True)

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
39318,1,1.0,0.0,62.522897,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,1.0,0.0,1.0,0,0,1,0
565,0,1.0,1.0,107.231795,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,1.0,0,0,0,0
66466,0,0.0,0.0,100.146080,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,1.0,0,1,0,0
44915,1,0.0,0.0,94.586508,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,0.0,0,1,0,0
49316,1,0.0,0.0,101.626566,NaN,0.0,0.0,0.0,0.0,1,...,0,0,0,0.0,0.0,1.0,0,1,0,0

In [44]:
cares["thirtydaymortality"] = cares["thirtydaymortality"].astype(int)

In [45]:
cares

,GENDER,RCRI score,Anemia category,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,AnaestypeCategory,...,CHFRCRICategory,DMinsulinRCRICategory,CreatinineRCRICategory,GradeofKidneyCategory,RDW15.7,ASAcategorybinned,ICUAdmgt24h,Chinese,Indian,Malay
0,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,NaN,NaN,0.0,0,1,0,0
1,0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,NaN,0.0,0.0,0,1,0,0
2,0,NaN,1.0,152.538570,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,0.0,0,1,0,0
3,1,NaN,2.0,117.231496,NaN,0.0,1.0,0.0,1.0,0,...,0,0,0,0.0,0.0,0.0,0,1,0,0
4,1,0.0,1.0,98.651255,59.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,1.0,1.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90780,0,2.0,1.0,48.339582,NaN,0.0,0.0,0.0,0.0,0,...,0,1,0,2.0,0.0,1.0,0,0,0,0
90781,1,1.0,2.0,126.592489,NaN,0.0,0.0,0.0,0.0,0,...,0,1,0,0.0,0.0,NaN,0,0,0,0
90782,0,NaN,0.0,86.306771,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,1.0,0.0,NaN,0,0,0,0
90783,0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,NaN,NaN,1.0,0,1,0,0
90784,0,0.0,1.0,125.902498,NaN,0.0,0.0,0.0,0.0,0,...,0,0,0,0.0,0.0,1.0,0,1,0,0

## Save as CSV

In [46]:
cares.to_csv("../data/CARES_encoded.csv", index=False)